<app-my-header name="Лабораторна робота 1"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card>
      <ion-card-header>
        <ion-card-title>Завдання 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          Задано три числа. Якщо всі вони кратні 3, то знайти їх суму, в іншому випадку - куб суми.
        </ion-item>
        <ion-item>
          <ion-input
            label="Перше число"
            labelPlacement="stacked"
            type="number"
            id="a"
            value="1"
            #InputA
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Друге число"
            labelPlacement="stacked"
            type="number"
            id="b"
            value="2"
            #InputB
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Третє число"
            labelPlacement="stacked"
            type="number"
            id="c"
            value="3"
            #InputC
          ></ion-input>
        </ion-item>
        <ion-button
        expand="block"
        (click)="calculate(InputA.value, InputB.value, InputC.value)"
        >Розрахунок</ion-button>
        <ion-item>
          <p>Результат обчислення {{d}}</p>
        </ion-item>
      </ion-card-content>
  </ion-card>
</ion-content>
